#set($title = "Hello World - Home")
#set($navigation = "home")
#parse("$website_templates_directory/includes/header.include.vm")
#parse("$website_templates_directory/includes/navigation.include.vm")
<div id="Content">
    <div>
        <h1>HELLO WORLD PROJECT OVERVIEW</h1>
        <p>
            My Hello World project.
        </p>
    </div>
#parse("$website_templates_directory/includes/last_changed_copyright.include.vm")
</div>
<div id="RightColumn">
#parse("$website_templates_directory/includes/news.include.vm")
#parse("$website_templates_directory/includes/sponsor.include.vm")
</div>
</body>
</html>
