<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- $Revision$ -->
    <!-- $URL$ -->
    <!-- $Date$ -->
    <!-- $Author$ -->

    <!-- =================== SECURITY SYSTEM DEFINITIONS ================== -->
    <!-- RunAsManager -->
    <bean id="runAsManager" class="org.acegisecurity.runas.RunAsManagerImpl">
        <property name="key">
            <value>my_run_as_password</value>
        </property>
    </bean>
    <!-- ~~~~~~~~~~~~~~~~~~~~ AUTHENTICATION DEFINITIONS ~~~~~~~~~~~~~~~~~~ -->
    <!-- This authentication provider accepts any presented TestingAuthenticationToken -->
    <bean id="extendedTestingAuthenticationProvider" 
        class="ch.elca.el4j.tests.security.provider.ExtendedTestingAuthenticationProvider"/>
    <!-- The authentication manager that iterates through our only authentication provider -->
    <bean id="authenticationManager" 
        class="org.acegisecurity.providers.ProviderManager">
        <property name="providers">
            <list>
                <ref local="extendedTestingAuthenticationProvider"/>
            </list>
        </property>
    </bean>
    <!-- ~~~~~~~~~~~~~~~~~~~~ AUTHORIZATION DEFINITIONS ~~~~~~~~~~~~~~~~~~~ -->
    <!-- An access decision voter that reads ROLE_* configuaration settings -->
    <bean id="roleVoter" class="org.acegisecurity.vote.RoleVoter"/>
    <!-- A unanimous access decision manager -->
    <bean id="accessDecisionManager" 
        class="org.acegisecurity.vote.UnanimousBased">
        <property name="allowIfAllAbstainDecisions">
            <value>false</value>
        </property>
        <property name="decisionVoters">
            <list>
                <ref local="roleVoter"/>
            </list>
        </property>
    </bean>
</beans>
