<?xml version="1.0"?>
<!-- project definition -->
<ant:project name="el4j" xmlns="antlib:ch.elca.el4ant" xmlns:ant="antlib:org.apache.tools.ant">
    <module name="module-daemon_manager-tests">
        <attribute name="set" value="framework-tests"/>
        <attribute name="junit.runnable" value="true"/>
        <dependency module="module-daemon_manager"/>
    </module>
</ant:project>
