/*
 * ELCA color css for javadoc.
 */
body { 
    font-family: Helvetica, Arial, sans-serif;
    background-color: #FFFFFF
    font-size: 80%;
}

h1 {
    font-size: 250%;
    background: #CC3300;
    color: White;
    padding-bottom: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.5em;
    text-align: center
}

h2 {
    font-size: 200%;
    color: #999966;
    margin-top: 1.5cm;
    text-align: left;
}

h3 {
    font-size: 150%;
    color: #CC3300;
    margin-top: 1cm;
    text-align: left;
}

h4 {
    font-size: 100%;
    color: #CC6600;
    text-align: left;
    margin-top: 0.5cm;
}

a:link { color: #000000; }
a:visited { color: #666633; }
a:hover { color: #CC3300; }

.TableHeadingColor {
    font-size: 90%;
    color: #FFFFFF;
    background: #CCCC99;
}

.TableSubHeadingColor {
    color: #FFFFFF;
    background: #CCCC99;
}

.TableRowColor {
    background: #FFFFFF;
}

.FrameTitleFont {
    font-family: Helvetica, Arial, sans-serif
    font-size: 100%;
}

.FrameHeadingFont {
    font-family: Helvetica, Arial, sans-serif
    font-size: 90%;
	color: #CC3300;
}

.FrameItemFont {
    font-family: Helvetica, Arial, sans-serif
    font-size: 90%;
}

.NavBarCell1 {
    background-color: #CCCC99;
}

.NavBarCell1Rev {
    background-color: #666633;
}

.NavBarFont1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.NavBarFont1Rev {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

.NavBarCell2 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

.NavBarCell3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}
