#set($title = "EL4J, the Extension Library for the J2EE - Reports")
#set($navigation = "reports")
#parse("$website_templates_directory/includes/header.include.vm")
#parse("$website_templates_directory/includes/navigation.include.vm")
<div id="Content">
    <div>
    	<h1>REPORTS</h1>
		<p>
			The following tables sums up generated reports per module set for 
			the EL4J project.
		</p>
#foreach($report in $reports.getFileList())
    #if($report.endsWith("-junit.log"))
		<div class="report">
            #include("$website_reports_directory/$report")
		</div>
    #end
#end
    </div>
#parse("$website_templates_directory/includes/last_changed_copyright.include.vm")
</div>
<div id="RightColumn">
#parse("$website_templates_directory/includes/related_projects.include.vm")
#parse("$website_templates_directory/includes/sponsor.include.vm")
</div>
</body>
</html>
