<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

    <!-- Version: $Revision$ -->
    <!-- Source: $URL$ -->
    <!-- Date: $Date$ -->
    <!-- Author: $Author$ -->

    <!-- Used by all tests -->
    <servlet>
        <servlet-name>remotingtests</servlet-name>
        <servlet-class>
            ch.elca.el4j.web.context.ModuleDispatcherServlet
        </servlet-class>
        <!-- here: the init parameters are used for testing purposes only -->
        <init-param>
            <param-name>inclusiveLocations</param-name>
            <param-value>WEB-INF/remotingtests-servlet.xml</param-value>
        </init-param>
        <init-param>
            <param-name>exclusiveLocations</param-name>
            <param-value>foobar.xml</param-value>
        </init-param>
        <load-on-startup>100</load-on-startup>
    </servlet>
    
    <!-- Used by Soap(Axis) test -->
    <listener>
        <listener-class>org.apache.axis.transport.http.AxisHTTPSessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <!-- Used to see all deployed services with its methods as list -->
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <!-- Url to deployed services -->
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <!-- Default to 5 minute session timeouts -->
        <session-timeout>5</session-timeout>
    </session-config>
    
    <!-- Used by Hessian and Burlap tests -->    
    <servlet-mapping>
        <servlet-name>remotingtests</servlet-name>
        <url-pattern>*.Remotingtests</url-pattern>
    </servlet-mapping>
</web-app>
