<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
       default-lazy-init="true">

   

   
    
    <bean id="personManager" class="ch.elca.el4j.internal.apps.service.impl.GenericManagerImpl">     
    <constructor-arg>         
        <bean class="ch.elca.el4j.internal.apps.dao.hibernate.GenericDaoHibernate" autowire="byType">             
            <constructor-arg value="ch.elca.el4j.internal.apps.tutorial.model.Person"/>         
        </bean>     
    </constructor-arg> 
	</bean>
	
	
	<!-- 
	 <bean id="keywordDao" class="ch.elca.el4j.apps.keyword.dao.KeywordDao"> 
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="keywordManager" class="ch.elca.el4j.internal.apps.service.impl.GenericManagerImpl">     
    	<constructor-arg ref="keywordDao"/> 
	</bean>
	-->
	
	
	
	
	  
	

    
</beans>