    <div>
        <h1>SPONSOR</h1>
        <p>
            <a href="http://www.elca.ch" target="_blank">ELCA</a> is a leading Swiss IT 
            solution provider, serving customers throughout Europe. With headquarters in 
            Lausanne, ELCA has offices in Zürich, Bern, Geneva, Paris, London, and 
            Ho Chi Minh City.
        </p>
    </div>
