#set($title = "Hello World - News")
#set($navigation = "news")
#parse("$website_templates_directory/includes/header.include.vm")
#parse("$website_templates_directory/includes/navigation.include.vm")
<div id="Content">
#parse("$website_templates_directory/includes/news.include.vm")
#parse("$website_templates_directory/includes/last_changed_copyright.include.vm")
</div>
<div id="RightColumn">
#parse("$website_templates_directory/includes/sponsor.include.vm")
</div>
</body>
</html>
