<?xml version="1.0"?>
<ant:project name="el4j" xmlns="antlib:ch.elca.el4ant"
    xmlns:ant="antlib:org.apache.tools.ant">
    <module name="module-remoting_xfire">
        <attribute name="set" value="framework-modules"/>
        <attribute name="binrelease.version" value="2.0"/>
        <dependency module="module-remoting_core"/>

		<!-- libraries -->
        <dependency jar="xfire-all-1.1.2.jar"/>
        <dependency jar="jsr173_api-20060615.jar"/>
        <dependency jar="wsdl4j-1.5.1.jar"/>
        <dependency jar="xbean-spring-2.4.jar"/>
        <dependency jar="servlet-api-2.4.jar"/>
        <dependency jar="activation-1.0.2.jar"/>
		<!-- These libraries are required by users of xfire -->
        <dependency jar="stax-api-1.0.1.jar"/>
        <dependency jar="stax-utils-20040917.jar"/>
        <dependency jar="wstx-asl-2.9.3.jar"/>
        <dependency jar="commons-codec-1.3.jar"/>
        
    </module>
</ant:project>
