<?xml version="1.0" encoding="utf-8"?>
<!-- JNLP File for EL4J RefDB Gui Thin-Client -->
<jnlp
  spec="1.0+"
  codebase="$$codebase"
  context="$$context" 
  href="$$name">
  <information>
    <title>${informationTitle}</title>
    <vendor>${informationVendor}</vendor>
    <homepage href="${informationHomepage}"/>
    <description>${informationDescription}</description>
    <icon href="el4j-application-icon.gif"/>
    <offline-allowed/> 
    <shortcut online="true">
        <desktop/>
        <menu submenu="EL4J REFDB"/>
    </shortcut>
  </information>
  <security>
    <all-permissions/>
  </security>
  <resources>
    <j2se version="1.5+" />
    $dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>
