<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
    version="2.4">
    
    <!-- Version: $Revision$ -->
    <!-- URL: $URL$ -->
    <!-- Date: $Date$ -->
    <!-- Author: $Author$ -->

    <!-- Used by all tests -->
    <servlet>
        <servlet-name>remotingtemplate</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>100</load-on-startup>
    </servlet>
    
    <!-- Used by Hessian and Burlap tests -->    
    <servlet-mapping>
        <servlet-name>remotingtemplate</servlet-name>
        <url-pattern>*.Remotingtests</url-pattern>
    </servlet-mapping>
</web-app>
