<!-- MDL 06-11-10
     This is the configuration file for Tomcat. This file is stored within
     ${el4j.external}/etc/tomcat and copied to the Tomcat configuration
     directory before each integration test for Tomcat.

     Any changes to the Tomcat configuration should be made on the original file
     within ${el4j.external}/etc/tomcat. 

     You can also place additional config files in this location.
 -->

<!-- The contents of this file will be loaded for each web application -->
<Context antiJARLocking="true" antiResourceLocking="true">

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
	
    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->

</Context>
