<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration 
    xmlns:log4j="http://jakarta.apache.org/log4j/" 
    debug="false">
    
    <!-- Version: $Revision: 2035 $ -->
    <!-- URL: $URL: https://el4j.svn.sourceforge.net/svnroot/el4j/trunk/el4j/framework/modules/core/src/main/resources/base-log4j.xml $ -->
    <!-- Date: $Date: 2007-10-11 17:05:18 +0200 (Thu, 11 Oct 2007) $ -->
    <!-- Author: $Author: swisswheel $ -->

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p %c{1} %m%n" />
        </layout>   
    </appender>

    <logger name="ch.elca.el4j.plugins.beandoc.BeanDocLauncher">
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>
