<?xml version="1.0" encoding="UTF-8"?>
<projectDescription>
	<name>Servers</name>
	<comment></comment>
	<projects>
	</projects>
	<buildSpec>
	</buildSpec>
	<natures>
	</natures>
	<linkedResources>
#if ($tomcatconflink)
	<link>
		<name>tomcat6x_conf_link</name>
		<type>2</type>
		<location>$tomcatconflink</location>
	</link>
#end
	</linkedResources>

</projectDescription>