<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration 
    xmlns:log4j="http://jakarta.apache.org/log4j/" 
    debug="true">
    
    <!-- Version: $Revision: 316 $ -->
    <!-- URL: $URL: https://svn.sourceforge.net/svnroot/el4j/trunk/el4j/framework/apps/keyword/core/tests/src/test/resources/log4j.xml $ -->
    <!-- Date: $Date: 2006-03-27 16:44:25 +0200 (Mon, 27 Mar 2006) $ -->
    <!-- Author: $Author: swisswheel $ -->

    <!---
        This is the basic log4j.xml definition file, referenced by all
        components via a symlink.

        If you wish to get a custom output during the development, either extend
        this file with your current logger or replace the symlink with your own
        file. Make sure not to check in your changes to the repository.

        MDL 06-09-12
    -->

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
        </layout>   
    </appender>

    <!-- uncommend this block if you want to have an output into a log file -->

    <!--appender name="logfile" class="ch.elca.el4j.util.logging.appenders.SmartDailyRollingFileAppender">
        <param name="File" value="c:/tmp/core_el4j_logging_output.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" 
                value="%d %5p [%c] %m%n"/>
        </layout>
    </appender-->

    <!-- EL4J framwork: show only warnings -->

    <logger name="ch.elca.el4j">
        <level value="WARN"/>
    </logger>
    
    <!--logger name="org.hibernate.SQL">
        <level value="DEBUG"/>
    </logger-->   
    
    <!-- External tools: show only warnings -->

    <root>
        <level value="WARN"/>
        <appender-ref ref="console"/>
        <!--appender-ref ref="logfile"/-->
    </root>
</log4j:configuration>
