#set($title = "Hello World - Documentation")
#set($navigation = "documentation")
#parse("$website_templates_directory/includes/header.include.vm")
#parse("$website_templates_directory/includes/navigation.include.vm")
<div id="Content">
    <div>
        <h1>DOCUMENTATION</h1>
        <h2>Framework API</h2>
        The framework is split in multiple sets of modules, the set 
        "helloworld-modules" is the main part of the Hello World project.
        Here is the Javadoc for each module set:
        <div class="report">
#foreach($report in $reports.getFileList())
    #if($report.endsWith("-javadoc.log"))
        #include("$website_reports_directory/$report")
    #end
#end
            <br/>
        </div>
    </div>
#parse("$website_templates_directory/includes/last_changed_copyright.include.vm")
</div>
<div id="RightColumn">
#parse("$website_templates_directory/includes/sponsor.include.vm")
</div>
</body>
</html>