<?xml version="1.0"?>
<ant:project name="el4j" xmlns="antlib:ch.elca.el4ant" xmlns:ant="antlib:org.apache.tools.ant">
    <module name="module-tcp_redirector-tests">
        <dependency module="module-tcp_redirector"/>        
        <dependency module="module-webtest"/>

        <attribute name="set" value="framework-tests"/>
        <attribute name="junit.runnable" value="true"/>
        
        <dependency jar="db2jcc_license_c.jar"/>
        <dependency jar="db2jcc.jar"/>
    </module>
</ant:project>
