<?xml version="1.0"?>
<!-- project definition -->
<ant:project name="el4j" xmlns="antlib:ch.elca.el4ant" xmlns:ant="antlib:org.apache.tools.ant">
    <module name="module-core">
        <attribute name="set" value="framework-modules"/>
        <attribute name="binrelease.version" value="1.3"/>
        <dependency jar="spring-1.2.7.jar"/>
        <dependency jar="commons-logging-1.0.4.jar"/>
        <dependency jar="log4j-1.2.11.jar"/>
        <dependency jar="bcel-5.1.jar"/>
        <dependency jar="cglib-nodep-2.1_2.jar"/>
        <dependency jar="jdom.jar"/>
        <dependency jar="commons-lang-2.1.jar"/>
        <dependency jar="commons-collections-3.1.jar"/>
        <dependency jar="commons-attributes-api-el4ant_20051129.jar"/>
        <dependency jar="easymock-1.1.jar"/>
        <dependency jar="easymockclassextension-1.1.jar"/>
        <dependency jar="which4j-0.21.jar"/>
    </module>
</ant:project>
