<?xml version="1.0"?>
<!-- project definition -->
<ant:project name="el4j" xmlns="antlib:ch.elca.el4ant" xmlns:ant="antlib:org.apache.tools.ant">
    <module name="module-daemon_manager">
        <attribute name="set" value="framework-modules"/>
        <attribute name="binrelease.version" value="1.2"/>
        <dependency module="module-core"/>
        <dependency jar="wrapper-3.1.2.jar"/>
    </module>
</ant:project>
