<?xml version="1.0"?>
<ant:project name="el4j" xmlns="antlib:ch.elca.el4ant" xmlns:ant="antlib:org.apache.tools.ant">
    <module name="module-core-tests">
        <dependency module="module-core"/>
        <attribute name="set" value="framework-tests"/>
        <attribute name="junit.runnable" value="true"/>
<!--        <attribute name="commons-attributes.enable" value="true"/>-->
    </module>
</ant:project>
