<div id="Navigation">

#macro(menuItem $activeShortName $shortName $longName $url $target)
#if($activeShortName == $shortName)
    <div class="MenuItemActive">$longName</div>
#else
    <div class="MenuItem">
        <a class="MenuItem" href="$url" target="$target">$longName</a>
    </div>
#end
#end

#menuItem($navigation "home" "HOME" "index.html" "_top")
#menuItem($navigation "news" "NEWS/RELEASE NOTES" "news.html" "_top")
#menuItem($navigation "documentation" "DOCUMENTATION" "documentation.html" "_top")
#menuItem($navigation "support" "SUPPORT" "support.html" "_top")
#menuItem($navigation "reports" "REPORTS" "reports.html" "_top")
#menuItem($navigation "license" "LICENSE" "license.html" "_top")
#menuItem($navigation "download" "DOWNLOAD" "http://sourceforge.net/projects/el4j/" "_blank")

    <a href="http://www.sf.net/" target="_blank">
        <img id="SFLogo" src="images/sourceforge_logo.gif"
            width="148" height="41" alt="SourceForge.net"/>
    </a>
</div>
