    <div>
        <h1>RELEASE NOTES</h1>
        
	Release notes directly from the 
	 <a href="http://svn.sourceforge.net/viewcvs.cgi/*checkout*/el4j/trunk/el4j/etc/ReleaseNotes.txt?rev=238">
	  sourceforge subversion repository.
	 </a>	
    </div>
