/* Version: $Revision$ */
/* URL:     $URL$ */
/* Date:    $Date$ */
/* Author:  $Author$ */

body {
    color: Black;
    background-color: White;
    font-family: Verdana, Arial, "Microsoft Sans Serif", "Lucida Console",
        Sans-Serif;
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
    min-width: 1024px;
}

td,select,input,li {
    font-size: 12px;
    color: #333333;
}

code {
    font-size: 12px;
}

a:link {
    font-style: normal;
    color: rgb(204, 51, 0);
    text-decoration: underline;
}

a:visited {
    font-style: normal;
    color: rgb(204, 51, 0);
/*    color: rgb(153, 153, 102); */
    text-decoration: underline;
}

h1 {
    color: Black;
    font-size: 18pt;
    font-weight: normal;
}

h2 {
    color: Black;
    font-size: 16pt;
    font-weight: normal;
}

h3 {
    background-color: rgb(238, 238, 187);
    color: Black;
    font-size: 12pt;
    font-weight: normal;
    padding-left: 24px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-image: url(../images/definition-arrow.gif);
    background-repeat: no-repeat;
    background-position: 9px 50%;
}

h4 {
    color: Black;
    font-size: 10pt;
    font-weight: bold;
}

h5 {
    color: #aaaaaa;
    font-size: 8pt;
    font-weight: bold;
}

p {
    line-height: 1.3em;
    font-size: 12px;
    color: Black;
}

ul {
    list-style-type  : square;
    list-style-image : url("../images/bullet.gif");
}

#breadcrumbs {
    height: 13px;
    background-image: url(../images/breadcrumbs-background.gif);
    padding: 5px 10px 14px 20px;
}

* html #breadcrumbs {
    padding-bottom: 8px;
}

#leftColumn {
    margin: 10px 0 10px 0;
    border-top-color: #cccccc;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #cccccc;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

#navcolumn h5 {
    font-size: smaller;
    border-bottom: 1px solid #808080;
    padding-top: 2px;
    padding-left: 9px;
    color: rgb(204, 51, 0);
    background-image: url(../images/red-arrow.gif);
    background-repeat: no-repeat;
    background-position: left bottom;
}

table {
    font-size: 10px;
    border: 1px;
    border-color: #666633;
    border-style: solid;
    border-collapse: collapse;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

tr {
    color               : Black;
    font-weight         : normal;
}

tr.a {
    background-color: #FFFFE0;
}

tr.b {
    background-color: White;
}

th {
    border              : 1px;
    border-color        : #666633;
    border-style        : solid;
    background-color    : #666633;
    color               : White;
    font-family         : inherit;
    font-size           : 8pt;
    font-weight         : bold;
    text-align          : center;
    padding-left        : 5px;
    padding-right       : 5px;
    padding-top         : 3px;
    padding-bottom      : 3px;
    margin-top          : 0px;
    margin-bottom       : 5px;
    margin-left         : 0px;
    margin-right        : 0px;
}

td {
    border              : 1px;
    border-color        : #666633;
    border-style        : solid;
    color               : inherit;
    font-family         : inherit;
    font-size           : 10pt;
    font-weight         : inherit;
    text-align          : center;
    padding-left        : 5px;
    padding-right       : 5px;
    padding-top         : 3px;
    padding-bottom      : 3px;
    margin-top          : 0px;
    margin-bottom       : 5px;
    margin-left         : 0px;
    margin-right        : 0px;
}

.source {
    border: 1px solid #999;
    overflow: auto
}

dt {
    padding: 4px 4px 4px 24px;
    color: White;
    background-color: rgb(204, 51, 0);
    font-weight: bold;
    font-size: 10px;
    background-image: url(../images/definition-arrow.gif);
    background-repeat: no-repeat;
    background-position: 9px 60%;
}

dd {
    font-style          : normal;
    margin-top          : 5px;
}

.subsectionTitle {
    font-size: 13px;
    font-weight: bold;
    color: #666;
}

.xright a:link,.xright a:visited,.xright a:active {
    color: Black;
    text-decoration: none;
}

.xright a:hover {
    color: Black;
    text-decoration: underline;
}

#banner {
    height: 94px;
    background: url(../images/banner-background.gif);
}

#navcolumn ul {
    margin: 5px 0 15px -0em;
    list-style-type  : none;
    list-style-image : none;
}

#navcolumn ul a {
    color: #333333;
    text-decoration: none;
}

#navcolumn ul a:hover {
    color: Red;
    text-decoration: none;
}

#intro {
    border: solid #cccccc 1px;
    margin: 6px 0px 0px 0px;
    padding: 10px 40px 10px 40px;
}

.subsection {
    margin-left: 3px;
    color: #333333;
}

.subsection p {
    font-size: 12px;
}

#footer {
    padding: 10px;
    margin: 20px 0px 20px 0px;
    border-top: solid #cccccc 1px;
    color: #333333;
}

.errormark,.warningmark,.donemark,.infomark {
    background: url(../images/icon_error_sml.gif) no-repeat;
}

.warningmark {
    background-image: url(../images/icon_warning_sml.gif);
}

.donemark {
    background-image: url(../images/icon_success_sml.gif);
}

.infomark {
    background-image: url(../images/icon_info_sml.gif);
}
