<?xml version="1.0"?>
<!-- project definition -->
<ant:project name="el4j" xmlns="antlib:ch.elca.el4ant" xmlns:ant="antlib:org.apache.tools.ant">
    <module name="module-light_statistics" path="module/light_statistics">
        <attribute name="set" value="framework-modules"/>
        <attribute name="binrelease.version" value="1.0"/>
        <dependency jar="JAMon-1.0.jar"/>
        
        <!-- eu jmx enables JMX and supplies the JAMonAdmin.jsp (only useful in web applications). -->
        <eu name="jmx"/>
        <dependency eu="jmx" module="module-jmx"/>
        
        <!-- eu jmx just supplies the JAMonAdmin.jsp (only useful in web applications). -->
        <eu name="web">
	        <attribute name="compile.jar.excludes" value="**/JAMonReporter*,mandatory/jamon-jmx.xml,scenarios/access/*jmx*"/>
        </eu>
    </module>
</ant:project>
