<?xml version="1.0" encoding="UTF-8"?>
<beansProjectDescription>
  <version>1</version>
  <configSuffixes>
    #foreach ($configSuffixe in $configSuffixes)
    <configSuffix>$configSuffixe</configSuffix>
    #end
  </configSuffixes>
  <enableImports>$enableImports</enableImports>
  <configs>
    #foreach ($config in $configs)
    <config>$config</config>
    #end
  </configs>
  <configSets>
    <configSet>
      <name>$name</name>
      <allowBeanDefinitionOverriding>$allowBeanDefinitionOverriding</allowBeanDefinitionOverriding>
      <incomplete>$incomplete</incomplete>
      <configs>
       #foreach ($config in $configs)
       <config>$config</config>
       #end
      </configs>
    </configSet>
  </configSets>
</beansProjectDescription>