<?xml version="1.0"?>
<ant:project name="el4j" xmlns="antlib:ch.elca.el4ant" 
    xmlns:ant="antlib:org.apache.tools.ant">

    <module name="refdb-gui">
        <!-- Working set -->
        <attribute name="set" value="refdb-modules"/>
        
        <!-- Runtime configurations -->
        <attribute name="runtime.runnable" value="true"/>
        <attribute name="runtime.class" 
            value="ch.elca.el4j.apps.refdb.gui.Main"/>
        <attribute name="runtime.command.creator" 
            value="runtime.command.creator.basic"/>
        
        <!-- Module dependencies -->
        <dependency module="refdb-core"/>
        <dependency module="common-spring_rcp"/>
        <dependency module="common-database"/>
    </module>
    
</ant:project>
