<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
    version="2.4">
    
    <!-- Version: $Revision$ -->
    <!-- URL: $URL$ -->
    <!-- Date: $Date$ -->
    <!-- Author: $Author$ -->

    <servlet>
        <servlet-name>remoting</servlet-name>
        <servlet-class>
            ch.elca.el4j.web.context.ModuleDispatcherServlet
        </servlet-class>
        <init-param>
            <param-name>inclusiveLocations</param-name>
            <param-value>
                classpath*:mandatory/*.xml,
                classpath*:scenarios/db/raw/*.xml,
                classpath*:scenarios/dataaccess/hibernate/*.xml,
                classpath*:scenarios/dataaccess/hibernate/dao/*.xml,
                classpath*:optional/interception/transactionJava5Annotations.xml,
                classpath:scenarios/remoting/server/web/*.xml
            </param-value>
        </init-param>
        <init-param>
            <param-name>mergeWithOuterResources</param-name>
            <param-value>true</param-value>
        </init-param>        
        <load-on-startup>100</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>remoting</servlet-name>
        <url-pattern>*.remoteservice</url-pattern>
    </servlet-mapping>
</web-app>
