div#TopBar 
{
    position            : absolute;
    top                 : 0px;
    left                : 0px;
    height              : 80px;
    width               : 100%;
    border-bottom-style : solid;
    border-bottom-width : 3px;
    border-bottom-color : rgb(204,51,0);
}

div#InnerTopBar
{
    position    : absolute;
    top         : 0;
    left        : 0;
    bottom      : 0;
    width       : 100%;
}

div#TopTitle
{
    position    : absolute;
    left        : 120px;
    top         : 15px;
    font-size   : 14pt;
    font-weight : bolder;
}

div#Slogan
{
    position    : absolute;
    left        : 150px;
    top         : 40px;
    font-size   : 8pt;
    font-weight : normal;
}

img#Logo 
{
    position    : absolute;
    top         : 5px;
    left        : 5pt;
}

div#Navigation
{
    position    : absolute;
    top         : 55px;
    right       : 10px;
    width       : auto;
}

div.MenuItemActive
{
    background-color : White;
    color            : rgb(204,51,0);
    font-size        : 8pt;
    font-weight      : bold;
}

div.MenuItem
{
    display : none;
}

div#Content
{
    position    : relative;
    top         : 85px;
    left        : 0px;
    width       : auto;
}

div#RightColumn
{
    display   : none;
}

img#SFLogo
{
    display : none;
}

body
{ 
    font-weight         : normal;
    background-color    : White;
    color               : #000000; 
    font-family         : Verdana,Arial,"Microsoft Sans Serif","Lucida Console", Sans-Serif; 
    font-size           : 10pt;
    margin-top          : 0px;
    margin-bottom       : 0px;
    margin-left         : 0px;
    margin-right        : 0px;
}

h1
{
    color               : Black;
    font-family         : inherit;
    font-size           : 10pt;
    font-weight         : bold;
    border-style        : solid;
    border-color        : Black;
    border-width        : 1px;
    padding-left        : 5px;
    padding-right       : 5px;
    padding-top         : 3px;
    padding-bottom      : 3px;
    margin-top          : 0px;
    margin-bottom       : 5px;
    margin-left         : 0px;
    margin-right        : 0px;
}

h2 {
    color               : Black;
    font-family         : inherit;
    font-size           : 8pt;
    font-weight         : bold;
    border-style        : solid;
    border-color        : Black;
    border-width        : 1px;
    padding-left        : 5px;
    padding-right       : 5px;
    padding-top         : 3px;
    padding-bottom      : 3px;
    margin-top          : 0px;
    margin-bottom       : 5px;
    margin-left         : 0px;
    margin-right        : 0px;
}

h3 {
    color               : Black;
    font-family         : inherit;
    font-size           : 8pt;
    font-weight         : bold;
    font-style          : normal;
    padding-left        : 0px;
    padding-right       : 0px;
    padding-top         : 0px;
    padding-bottom      : 0px;
    margin-top          : 10px;
    margin-bottom       : 5px;
    margin-left         : 0px;
    margin-right        : 0px;
}

hr {
    color               : Black;
    background-color    : Black;
    height              : 1px;
    border-style        : solid;
}

dl {
    color               : Black;
    font-family         : inherit;
    font-size           : 8pt;
    font-weight         : normal;
}

dt {
    font-style          : italic;
    margin-top          : 8px;
}

dd {
    font-style          : normal;
    margin-top          : 5px;
}

p {
    padding-top         : 5px;
    padding-bottom      : 0px;
    padding-left        : 0px;
    padding-right       : 0px;
    margin-top          : 5px;
    margin-bottom       : 0px;
    margin-left         : 0px;
    margin-right        : 0px;
}

div {
    padding-top         : 5px;
    padding-bottom      : 0px;
    padding-left        : 0px;
    padding-right       : 0px;
    margin-top          : 5px;
    margin-bottom       : 0px;
    margin-left         : 0px;
    margin-right        : 0px;
}

ul
{
    list-style-type  : square;
}

a
{
  font-style        : normal;
  font-weight       : inherit;
  background-color  : inherit;
  color             : inherit;
  text-decoration   : none;
}



.goto
{
    display : none;
}

.lastChangedCopyright {
    font-size        : 7pt;
    margin-left      : 3px;
    margin-top       : 10px;
    margin-bottom    : 5px;
}

div.report {
    padding-top         : 5px;
    padding-bottom      : 0px;
    padding-left        : 0px;
    padding-right       : 0px;
    margin-top          : 5px;
    margin-bottom       : 0px;
    margin-left         : 0px;
    margin-right        : 0px;    
}

div.report p.header {
    color               : Black;
    font-family         : inherit;
    font-size           : 8pt;
    font-weight         : bold;
    font-style          : normal;
}

p.header a:link {
    color             : rgb(204,51,0);
    text-decoration   : underline;
    font-size         : 10pt;
    font-weight       : bold;
    font-style        : normal;
}

p.header a:visited {
    color             : rgb(204,51,0);
    text-decoration   : underline;
    font-size         : 10pt;
    font-weight       : bold;
    font-style        : normal;
}

table {
    border              : 1px;
    border-color        : rgb(102,102,51);
    border-style        : solid;
    border-collapse     : collapse;
    padding-top         : 0px;
    padding-bottom      : 0px;
    padding-left        : 0px;
    padding-right       : 0px;
    margin-top          : 10px;
    margin-bottom       : 10px;
    margin-left         : 0px;
    margin-right        : 0px;
}

tr {
    color               : Black;
    font-weight         : normal;
}

tr.Failure {
    color               : rgb(204,51,0);
    font-weight         : bold;
}

th {
    border              : 1px;
    border-color        : rgb(102,102,51);
    border-style        : solid;
    background-color    : rgb(238,238,187);
    color               : Black;
    font-family         : inherit;
    font-size           : 8pt;
    font-weight         : bold;
    text-align          : center;
    padding-left        : 5px;
    padding-right       : 5px;
    padding-top         : 3px;
    padding-bottom      : 3px;
    margin-top          : 0px;
    margin-bottom       : 5px;
    margin-left         : 0px;
    margin-right        : 0px;
}

td {
    border              : 1px;
    border-color        : rgb(102,102,51);
    border-style        : solid;
    background-color    : White;
    color               : Black;
    font-family         : inherit;
    font-size           : 10pt;
    font-weight         : normal;
    text-align          : center;
    padding-left        : 5px;
    padding-right       : 5px;
    padding-top         : 3px;
    padding-bottom      : 3px;
    margin-top          : 0px;
    margin-bottom       : 5px;
    margin-left         : 0px;
    margin-right        : 0px;
}

