<div id="Navigation">

#macro(menuItem $activeShortName $shortName $longName $url $target)
#if($activeShortName == $shortName)
    <div class="MenuItemActive">$longName</div>
#else
	<div class="MenuItem">
    	<a class="MenuItem" href="$url" target="$target">$longName</a>
   	</div>
#end
#end

#menuItem($navigation "home" "HOME" "index.html" "_top")
#menuItem($navigation "news" "NEWS" "news.html" "_top")
#menuItem($navigation "documentation" "DOCUMENTATION" "documentation.html" "_top")
#menuItem($navigation "reports" "REPORTS" "reports.html" "_top")
#menuItem($navigation "sfprojectpage" "EL4J SF PROJECT PAGE" "http://sourceforge.net/projects/el4j/" "_top")

</div>
